.m{
    font-family: Arial;
    float: none;
    color: black;
    list-style-type: none;
    display: flex;
    background-color: rgb(245, 220, 76);
    margin: 1%;
    padding: 1%;
    justify-content:space-around;
    margin-right: 20px;
    font-size: 30px;
}
body{
    background-color: rgb(68, 67, 66);
    
}
p{
    display: flex;
    justify-content: space-between;
    background-color: #eccccc;
    padding: 10px;
    font-size: 25px;
    font-family: Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 35px;
    font-family: Arial, sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 40px;
    font-family: Arial, sans-serif;
}